# Authentication token for logging into discord
BOT_TOKEN={token}

# Bot ID (client id) to exclude from sweepers
BOT_ID={bot_id}

# Database url for connecting and storing persistent data to the postgresql database
DATABASE_URL={database_url}